<!doctype html>
<html lang="en">

<head>
  <title>Manuscriptor</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <!--     Fonts and icons     -->
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
  <!-- Material Kit CSS -->
  <link href="../../assets/stylesheets/material/material-dashboard.css?v=2.1.1" rel="stylesheet" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script>
      function refresh() {
          document.getElementById('pdf-viewer').src += '';
          return 'done';
      }

      function sleep(ms) {
          return new Promise(resolve => setTimeout(resolve, ms));
      }

      function compile() {
          $('.animationload').show();
          $('#pdf-viewer').hide();

          const text = $(".note_field").val();
          const xhr = new XMLHttpRequest();

          xhr.onload = async function () {
              refresh();
              $('#pdf-viewer').show();
              $('.animationload').hide();
          };

          xhr.open("POST", "/compile", true);
          let formData = new FormData();
          formData.append('text', text);
          xhr.send(formData);
      }

  </script>

</head>

<body>
<div class="wrapper ">
  <div class="sidebar" data-color="purple" data-background-color="white">
    <!--
    Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

    Tip 2: you can also add an image using data-image tag
-->
    <div class="logo">
      <a href="" class="simple-text logo-normal">
        Manuscriptor
      </a>
    </div>
    <div class="sidebar-wrapper">
      <ul class="nav">
        <li class="nav-item active  ">
          <a class="nav-link" href="#0">
            <i class="material-icons">dashboard</i>
            <p>Editor</p>
          </a>
        </li>
        <!-- your sidebar here -->
      </ul>
    </div>
  </div>
  <div class="main-panel">
    <div class="content d-flex">
      <div class="container-fluid d-flex">
        <div class="form-group d-flex work_field">
          <textarea class="form-control note_field"></textarea>
        </div>
        <button class="btn btn-outline-secondary compile_button" type="button" onclick="compile()">compile</button>
        <div class="form-group d-flex work_field">
          <div class="form-control d-flex compiled_field">
            <div class="animationload">
              <div class="osahanloading"></div>
            </div>
            <iframe id="pdf-viewer" src="/notes/note.pdf">PDF</iframe>
          </div>
        </div>
      </div>
    </div>
    <footer class="footer">
      <div class="container-fluid">
        <nav class="float-left">
          <ul>
            <li>
<!--              <a href="https://www.creative-tim.com">-->
<!--                Creative Tim-->
<!--              </a>-->
            </li>
          </ul>
        </nav>
<!--        <div class="copyright float-right">-->
<!--          &copy;-->
<!--          <script>-->
<!--              document.write(new Date().getFullYear())-->
<!--          </script>, made with <i class="material-icons">favorite</i> by-->
<!--          <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a> for a better web.-->
<!--        </div>-->
        <!-- your footer here -->
      </div>
    </footer>
  </div>
</div>
</body>

</html>